.titleContainer {
    display: flex;
    align-items: center;
    height: 6rem;
}

.title {
    margin-left: 1rem;
}

.newTaskContainer {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 2rem;
}

.newTaskInput {
    width: 90%;
    max-width: 35rem;
}

.doneMark {
    font-size: 3.5rem;
    font-weight: bold;
    justify-self: flex-end;
}
