.screen {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    height: 100vh;
    background-color: #F4F4F4;
}

@media (max-width: 1200px) {
    .screen {
        grid-template-columns: 1fr 12fr 1fr;
    }
}

@media (max-width: 600px) {
    .screen {
        grid-template-columns: 0fr 1fr;
    }
}
